# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Alembic
*.sqlite3

# Logs
*.log
logs/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/